{% extends "registration/base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}

<h1><strong>TaximeTracker</strong></h1>
{{ form.non_field_errors }}

<form method="post" action="?next={{ next|default:"/" }}">{% csrf_token %}
  <ul>
    <li>
      <label for="id_username">Username:</label>
      {{ form.username }}
      <span class="error">{{ form.username.errors|join:", " }}</span>
    </li>
    <li>
      <label for="id_password">Password:</label>
      {{ form.password }}
      <span class="error">{{ form.password.errors|join:", " }}</span>
    </li>
    <li>
      <input type="submit" class="btn btn-lg btn-primary" value="Log in" />
    </li>
 </ul>
</dl>
</form>
<table>
<tr>
    <form  method='get'  action='/accounts/register' enctype="multipart/form-data">
     <input type='submit'class="btn btn-success " value='Create a account'>
    {% csrf_token %}
    </form>
    <form  method='get' action='/accounts/password/reset' enctype="multipart/form-data">
    <input class='btn btn-success ' type='submit' value='Reset password'>
    {% csrf_token %}
    </form>
</tr>
</table>

{% endblock %}

{% block content-related %}
<p>If you don't have an account, you can <a href="/accounts/register/">sign
up</a> for one.
{% endblock %}

